<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.description}">Recipe description</title>

    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/webjars//bootstrap/3.3.7-1/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="panel panel-info" style="margin-top: 20px">
        <div class="panel-heading"><h2 th:text="${recipe.description}">Panel heading</h2></div>
        <div class="panel-body">
            <p> <img th:text="${recipe.cookTime}">none</img> minutes;</p>
            <p>Cook time: <span th:text="${recipe.cookTime}">none</span> minutes;</p>
            <p>Prepare time: <span th:text="${recipe.prepTime}">none</span> minutes;</p>
            <p>Source: <a th:href="${recipe.source}"><span th:text="${recipe.source}">none</span></a></p>
            <p>Difficulty: <span th:text="${recipe.difficulty}">none</span></a></p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Ingredients
            <span style="margin-right: 100px">
                <a class="btn btn-default" th:href="'/recipe/' + ${recipe.id} + '/ingredients'">view</a>
            </span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="ingredient : ${recipe.ingredients}">
                    <span th:text="${ingredient.amount}">0</span>
                    <span th:text="${ingredient.uom.description}">none</span>
                    <span th:text="${ingredient.description}">default description</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Recipe notes</div>
        <div class="panel-body">
            <p th:text="${recipe.notes.recipeNotes}"></p>
        </div>
    </div>
</div>

</body>
</html>